nbproject
composer.phar
.buildpath
.project
.settings/
.DS_Store
vendor
vendor/*
data/*
!data/cache
data/cache/*
!data/cache/file
data/cache/file/*
!data/cache/file/.placeholder
!data/fprg